In [4]:
import pandas as pd
import numpy as np
from typing import List, Dict
from table import Table

# data = pd.read_csv("Deans Honor List - Website.csv")
# data_ = data.dropna(axis=0, how='all')

In [35]:
data = pd.DataFrame(columns=[1, 2, 3, 4], data=[[1, 1],['sen', np.nan,np.nan, np.nan]])

In [36]:
data

     1    2   3   4
0    1  1.0 NaN NaN
1  sen  NaN NaN NaN

In [29]:
data.isna()

       1      2
0  False  False
1   True   True

In [41]:
for id, row in data.iterrows():
    # print(row)
    print(row.isna())

1    False
2    False
3     True
4     True
Name: 0, dtype: bool
1    False
2     True
3     True
4     True
Name: 1, dtype: bool